body {
	font-family: COMIC SANS MS;
	padding: 0;
	margin: 0;
	color: #000;
	text-align: justify;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.blak {
	background: rgba(0,0,0,.7);
	color: #fff;
}

.blaks {
	background: rgba(0,0,0,.2);

}

div{
	box-sizing: border-box;
}

nav {
	float: right;
	padding-top: 15px;
}

ul {
	padding: 0px;
}

.contact {
	padding-top: 10px;
	margin: 0;
	display: block;
}

.contact li {
	float: left;
	display: block;
	color: #fff;
	margin-right: 0px;
}

.single a {
	border: none;
	text-align: center;
}

.contact li:last-child {
	margin-left: 20px;
}

.title {
	color: #fff;
	margin-top: 15px;
}

.title h2 {
    display: inline;
    line-height: 1.8em;
}

.title p {
    line-height: 1.6em;
   display: block;
   text-align: left;
}

p {
   line-height: 1.6em; 
}

.contact h2 {
	margin: 0;
}

.mail0 {
	/*margin-left: 3px;*/
	font-family: SANS-SERIF;
	margin-top: 20px;
	width: 280px;
	border-bottom: 1px solid #CAE329;
}

#customerData {
	margin-top: 35px;
	margin-left: 50px;
}

.form-control {
	background: rgba(0,0,0,.9);
	color: #fff;
	border-radius: 1px;
	display: block;
	width: 258px;
	margin-top: 15px;
	padding: 15px 10px;
	float: left;
	text-decoration: none;
	text-align: left;
	font-size: 18px;
	border: 1px solid #CAE329;
	box-shadow: 3px 3px 7px #000;
	-moz-transition: all 0.2s 0.02s ease;
	-o-transition: all 0.2s 0.02s ease;
	-webkit-transition: all 0.2s 0.02s ease;
}


.inputTop:nth-child {
	margin-top: 0px;
}

.btn_form {
	background: #CAE329;
	color: #000;
	border-radius: 1px;
	display: block;
	margin-top: 15px;
	width: 150px;
	padding: 15px 10px;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	border: 1px solid #CAE329;
	box-shadow: 3px 3px 7px #000;
	-moz-transition: all 0.2s 0.02s ease;
	-o-transition: all 0.2s 0.02s ease;
	-webkit-transition: all 0.2s 0.02s ease;
}

.btn_form:focus {
	background: rgba(0,0,0,.7);
}

label {
	color: red;
}

.tel {
	width: 280px;
}

.tel a:hover{
	color: #CAE329;
	background: transparent;
	width: auto;
	height: auto;
}

.mail0 a:hover{
	color: #CAE329;
	background: transparent;
	width: auto;
	height: auto;
}

.contact a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	display: block;
}

header {
 	background: url(../img/pines1-3.jpg) no-repeat center top / cover;
 }
 
 .container {
	max-width: 1140px;
	margin: 0 auto;
}

.works {
	margin-top: 70px;
	text-align: left;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.works img {
	height: 0 auto;
	box-shadow: 3px 3px 7px #000;
	cursor: pointer;
	margin-bottom: 31px;
	margin-right: 31px;
}

.works img:hover{
	opacity: 0.7; 
}

.tuu {
	height: 201px;
	width: 100px;
	display: inline-block;
}

.op {
	opacity: 100;
}

.dual {
	background: #CAE329;
	width: 100px;
	height: 30px;
	position: fixed;
	margin-left: 30px;
	margin-top: 90px;
}

.works img:nth-child(2) {
	margin-left: 31px;
}

.works img:last-child {
	float: left;
}

.phone {
	float: left;
	margin-right: 5px;
	margin-bottom: 3px;
	margin-left: 3px;
}

.mail1 {
	float: left;
	margin-right: 5px;
}

.button span {
	margin-left: 30px;
	
}

.house {
	display: inline-block;
	margin-top: 0px;
	margin-left: 30px;
}

.button {
	font-family: SANS-SERIF;
	color: #fff;
	border-radius: 1px;
	display: block;
	width: 240px;
	padding: 20px 0;
	text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #CAE329;
	box-shadow: 3px 3px 7px #000;
}

.button:hover{
	background: #CAE329;
	color: #000;
	width: 240px;
	height: auto;
	border-radius: 1px;
	opacity: 1;
}

.inf {
	padding-bottom: 50px;
}

.blaсkWhite {
    margin-top: 50px;
}

#services {
	padding-bottom: 120px;
}

.services {
	margin-top: 50px;
}

.services_item {
	width: 320px;
	float: left;
	text-align: center;
	padding: 10px;
	border-left: 3px solid #CAE329;
}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p {
	color: #777;
	font-size: 16px;
	line-height: 1.6em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 90px;
}

.mod-body0 {
	height: 395px;
	width: 360px;
}


.cloSeBtn0 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #CAE329;
	font-family: Arial;
}

.cloSeBtn0:hover {
    color: #000;
}

.mod_click0 {
	background: rgba(0,0,0,.5);
	position: absolute;
	display: none;
	/*justify-content: center;*/
	top: 0px;
	bottom: 0;
	right: 0;
	left: 0px;
	position: fixed;
	perspective: 500px;
}

.mod_click0 .mod-wrapper0 {
	width: 100%;
	max-width: 360px;
	/*top: -0%;*/
	/*background: #E3F525;*/
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.window1 {
	background: #fff;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
}

.window1:hover {
	background: #fff;
	border: none;
	opacity: 0.7;
}

.window1:focus {
	outline: none;
	opacity: 0.5;

}

.window1 {
	background: #fff;
	border: none;
	cursor: pointer;
}

.window1:hover {
	background: #fff;
	border: none;
	opacity: 0.7;
}

.window1:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn1 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.cloSeBtn1:hover {
    color: #CAE329;
}

.mod_click1 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 1001;
	perspective: 500px;
}

.mod_click1 .mod-wrapper1 {
	width: 50%;
	max-width: 500px;
	top: 5%;
	background: #E3F525;
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header1, .mod-body1, .mod-footer1 {
	padding: 5px 15px;
}

.mod_click1 p {
	font-size: 18px;
}

.mod-header1, .mod-footer1 {
	text-align: center;
	color: #000;
	font-family: century gothic;
}

.mod-body1 {
	background: #fff;
}

.window2 {
	background: #fff;
	border: none;
	cursor: pointer;
}

.window2:hover {
	background: #fff;
	border: none;
	opacity: 0.7;
}

.window2:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn2 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.cloSeBtn2:hover {
    color: #CAE329;
}

.mod_click2 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 1001;
	perspective: 500px;
}

.mod_click2 .mod-wrapper2 {
	width: 50%;
	max-width: 500px;
	top: 5%;
	background: #E3F525;
	position: absolute;
	text-align: justify;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header2, .mod-body2, .mod-footer2 {
	padding: 5px 15px;
}

.mod_click2 p {
	font-size: 18px;
}

.mod-header2, .mod-footer2 {
	text-align: center;
	color: #000;
	font-family: century gothic;
}

.mod-body2 {
	background: #fff;
}

.window3 {
	background: #fff;
	border: none;
	cursor: pointer;

}

.window3:hover {
	background: #fff;
	border: none;
	opacity: 0.7;

}

.window3:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn3 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.cloSeBtn3:hover {
    color: #CAE329;
}

.mod_click3 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	z-index: 1001;
	perspective: 500px;
}

.mod_click3 .mod-wrapper3 {
	width: 50%;
	max-width: 500px;
	top: 5%;
	background: #E3F525;
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header3, .mod-body3, .mod-footer3 {
	padding: 5px 15px;
}

.mod_click3 p {
	font-size: 18px;
}

.mod-header3, .mod-footer3 {
	text-align: center;
	color: #000;
	font-family: century gothic;
}

.mod-body3 {
	background: #fff;
}


.window4 {
	background: #fff;
	border: none;
	cursor: pointer;
}

.window4:hover {
	background: #fff;
	border: none;
	opacity: 0.7;

}

.window4:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn4 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.mod_click4 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	perspective: 500px;
}

.mod_click4 .mod-wrapper4 {
	width: 50%;
	max-width: 500px;
	top: 15%;
	background: #E3F525;
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header4, .mod-body4, .mod-footer4 {
	padding: 5px 15px;
}

.universal_item .mod_click4 p {
	font-size: 18px;
}

.mod-header4, .mod-footer4 {
	text-align: center;
	color: #000;
	font-family: century gothic;
}

.mod-body4 {
	background: #fff;
}

.window5 {
	background: #fff;
	border: none;
	cursor: pointer;
}

.window5:hover {
	background: #fff;
	border: none;
	opacity: 0.7;

}

.window5:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn5 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.mod_click5 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	perspective: 500px;
}

.mod_click5 .mod-wrapper5 {
	width: 50%;
	max-width: 500px;
	top: 15%;
	background: #E3F525;
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header5, .mod-body5, .mod-footer5 {
	padding: 5px 15px;
}

 .universal_item .mod_click5 p {
	font-size: 18px;
}

.mod-header5, .mod-footer5 {
	text-align: center;
	color: #000;
	font-family: century gothic;
}

.mod-body5 {
	background: #fff;
}

.window6 {
	background: #fff;
	border: none;
	cursor: pointer;
}

.window6:hover {
	background: #fff;
	border: none;
	opacity: 0.7;
}

.window6:focus {
	outline: none;
	opacity: 0.5;
}

.cloSeBtn6 {
	cursor: pointer;
	float: right;
	font-size: 40px;
	color: #000;
	font-family: Arial;
}

.mod_click6 {
	background: rgba(0,0,0,.2);
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	perspective: 500px;
}

.mod_click6 .mod-wrapper6 {
	width: 50%;
	max-width: 500px;
	top: 15%;
	background: #E3F525;
	position: absolute;
	text-align: left;
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0,.4);
	transform: rotateX(0deg);
	animation-name: mod_click1;
	animation-duration: 1s;
}

.mod-header6, .mod-body6, .mod-footer6 {
	padding: 5px 15px;
}

.blaki {
	background: rgba(0,0,0,.2);
	height: 1px;

}

footer {
	background: url(../img/70_3.jpg) no-repeat center top / cover;
	padding-bottom: 85px;
	height: 95px;
}

footer .im {
	margin-right: 45px;
	margin-bottom: 30px;
	border-top: 7px solid #fff;
}

footer .gmail {
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

footer .im:hover {
	background: #fff

}

footer nav {
	float: left;
	margin-left: 20px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

footer .menu li:nth-child(1) {
	margin-right: 200px;
	margin-bottom: 20px;
}

footer .menu li:nth-child(3) {
	margin-right: 0px;
}

.menu a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	border-top: 7px solid #fff;
	display: block;
}

.menu a:hover{
	background: #fff;
	width: auto;
	height: auto;
	opacity: 0.7;
}

footer .container_2 {
	width: 0 auto;
}

footer:hover {
	opacity: 100;
}

footer .info {
	margin-top: 0px;
	font-family: Arial;
}

footer .copirait {
	margin-right: 50px;
	margin-top: 5px;
	font-family: Arial;
}

.foot {
	margin-top: 20px;
    margin-left: 350px;
}

#myImg {
	border-radius: 0px;
	cursor: pointer;
	transition: 0.3s;
	margin: 0px;
}

#myImg:hover {
	opacity: 0.7;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 1200px;
}

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption {
	-webkit-animation-name:zoom;
	-webkit-animation-duration:0.6s;
		animation-name:zoom;
		animation-duration:0.6s;
}

@-webkit-keyframes zoom{
	from{-webkit-transform:scale(0)}
	to{-webkit-transform:scale(1)}
}

@keyframes zoom {
	from{transform:scale(0)}
	to{transform:scale(1)}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	font-family: Arial;
}

.close:hover, .close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {

nav {
    float: left;
    padding-top: 15px;
}
	
.title {
	margin-top: 170px;
}

.container {
 	width: 872px;
}

.works img {
		height:151px
}

.services_item {
	width: 250px;
}

.services_item h3 {
	font-size: 16px;
}


.services_item p {
	font-size: 16px;
}

.services_item:nth-child(2) {
	margin-left: 70px;
}

.mod_click1 p {
	font-size: 16px;
}

.mod_click2 p {
	font-size: 16px;
}

.mod_click3 p {
	font-size: 16px;
}

.info {
	font-size: 14px;
}

.copirait {
	font-size: 14px;
}

.gmail {
	font-size: 14px;
}

  footer .im {
	width: 20px;
}

footer nav {
	float: left;
	margin-left: 20px;
}

.foot {
    margin-left: 250px;
}

footer .menu li:nth-child(3) {
	margin-right: 5px;
}

footer .copirait {
    margin-right: 35px;
}

}

@media screen and (max-width: 1122px) {

.title {
	margin-top: 170px;
}

.works img {
		height:151px
}

.container {
	max-width: 872px;
}

}

 @media screen and (max-width: 900px) {

 .container {
	max-width: 772px;
}

.works img {
		height:131px
}

/*.button {*/
/*	margin-top: 30px;*/
/*	margin-bottom: 30px;*/
/*	margin-left: 22px;*/
/*}*/

.title {
	margin-top: 170px;
}

.services_item {
	width: 250px;
}

.services_item h3 {
	font-size: 18px;
}


.services_item p {
	font-size: 16px;
}

.services_item:nth-child(2) {
	margin-left: 20px;
}

.mod_click1 .mod-wrapper1 {
	width: 100%;
	top: 5%;
}

.mod_click2 .mod-wrapper2 {
	width: 100%;
	top: 5%;
}

.mod_click3 .mod-wrapper3 {
	width: 100%;
	top: 5%;
}

.mod_click1 p {
	font-size: 16px;
}

.mod_click2 p {
	font-size: 16px;
}

.mod_click3 p {
	font-size: 16px;
}

.foot {
    margin-left: 170px;
}

}

  @media screen and (max-width: 800px) {

.container {
	max-width: 672px;
}

#services .container {
 	width: 400px;
}

.works img {
		height:113px;
}

.title {
	margin-top: 170px;
}

.services_item {
	width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	float: left;

}

.services_item h3 {
	font-size: 18px;
}

.services_item p {
	font-size: 16px;
}

.services_item:nth-child(2) {
	margin-left: 0px;
}

.mod_click1 p {
	font-size: 16px;
}

.mod_click2 p {
	font-size: 16px;
}

.mod_click3 p {
	font-size: 16px;
}

.mod_click1 .mod-wrapper1 {
	width: 100%;
	top: 5%;
}

.mod_click2 .mod-wrapper2 {
	width: 100%;
	top: 5%;
}

.mod_click3 .mod-wrapper3 {
	width: 100%;
	top: 5%;
}

footer .info {
	margin-top: 20px;
	float: left;
	margin-left: 0px;

}

footer .copirait {
	margin-top: 5px;
	float: left;
	margin-left: 0px;
}

footer .im {
	margin-right: 45px;
	margin-bottom: 0px;
}

footer .menu li:nth-child(1) {
    margin-right: 100px;
    margin-bottom: 20px;
}

.foot {
	margin-top: 0px;
    margin-left: 140px;

}

}

 @media screen and (max-width: 700px) {

 .container {
	max-width: 400px;
}

.contact li {
	margin-right: 0px;
	margin-left: 10px;
}

.mail0 {
	border: none;
}

.works img {
		height: 62px;
}

.modal-content{
	width: 100%;
}

.button {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 7px;
}

.title {
	margin-top: 170px;
}

footer .menu li:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 20px;
}

.foot {
	margin-top: 0px;
    margin-left: 10px;
}

footer nav {
    float: left;
    margin-left: 0px;
}

}

 @media screen and (max-width: 449px) {

 .container {
	max-width: 290px;
}

.single {
    margin-left: 15px;
}

#customerData {
	margin-top: 35px;
	margin-left: 5px;
}

.mod_click0 .mod-wrapper0 {
    max-width: 310px;
}


.mod-body0 {
    width: 290px;
}

.works img {
	height: 41px;
}

.contact li a {
	margin-left: 0px;
	margin-right: 5px;
}

.contact .button {
	margin-left: 18px;
}

.services_item {
	width: 290px;
	margin-top: 30px;
	text-align: center;
	float: left;
}

.mod-body1 {
    padding: 10px;
    padding-right: 140px;
    overflow: auto;
    width: 449px;
    height: 420px;
    background-color: #ffffff;
}

.mod-body2 {
    padding: 10px;
    padding-right: 140px;
    overflow: auto;
    width: 449px;
    height: 420px;
    background-color: #ffffff;
}

.mod-body3 {
    padding: 10px;
    padding-right: 140px;
    overflow: auto;
    width: 449px;
    height: 420px;
    background-color: #ffffff;
}

.mod_click1 .mod-wrapper1 {
	width: 100%;
	top: 0%;
}

.mod_click2 .mod-wrapper2 {
	width: 100%;
	top: 0%;
}

.mod_click3 .mod-wrapper3 {
	width: 100%;
	top: 0%;
}

.services_item:nth-child(2) {
	margin-left: 0px;
}

nav {
	float: none;
	margin-right: 0px;
}

footer .info {
	margin-left: 0px;
	margin-top: 0px;

}

footer .copirait {
	margin-right: 20px;
	font-size: 10px;
}

.im {
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 20px;
}

footer .im {
	width: 40px;
	margin:0px;
	margin-right: 2px;
}

.contact li {
    margin-right: 0px;
    margin-left: 0px;
}

.contact li:last-child {
	float: right;
    margin-right: 20px;
}

footer .menu li:nth-child(1) {
    font-size: 10px;
}

footer img {
    width: 30px;
}

}